div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1698px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Comic Sans MS";
   font-size: 20px;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   text-align: center;
}
#wb_indexTextArt1 a img {
   left: 0;
   position: relative;
}
#wb_indexTextArt1 span {
   left: 0;
   position: absolute;
}
#wb_indexTextArt1 a .hover {
   visibility: hidden;
}
#wb_indexTextArt1 a:hover .hover {
   visibility: visible;
}
#wb_indexTextArt1 a:hover span {
   visibility: hidden;
}
#indexTextArt1 {
   border-width: 0;
}
#wb_indexPanelMenu1 a,
#indexPanelMenu1_markup li a {
   display: block;
   text-align: center;
   vertical-align: middle;
}
#indexPanelMenu1_markup {
   display: none;
   margin: 0;
   padding: 0;
}
#indexPanelMenu1_panel #indexPanelMenu1_markup {
   display: block;
}
#indexPanelMenu1_markup ul {
   list-style-type: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
#indexPanelMenu1_markup li a,
#indexPanelMenu1_markup li a:hover,
#indexPanelMenu1_markup li .active {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border-bottom-width: 1px;
   border-radius: 0;
   border-width: 0;
   box-shadow: none;
   padding: 5px 0px 3px 3px;
}
#indexPanelMenu1_panel {
   display: none;
   position: absolute;

   width: 100%;
   z-index: 9999;
}
#wb_indexPanelMenu1 a,
#indexPanelMenu1_markup li a {
   background-color: #00BFFF;
   background: -moz-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -ms-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -o-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -webkit-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   border: 1px #2E2E2E solid;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#wb_indexPanelMenu1 a:hover,
#indexPanelMenu1_markup li a:hover,
#indexPanelMenu1_markup li .active {
   background-color: #FF4500;
   background: -moz-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -ms-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -o-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -webkit-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   border: 1px #000000 solid;
   color: #FFFFFF;
}
#indexPanelMenu1_panel {
   background-color: #00BFFF;
   overflow-y: auto;
}
#indexPanelMenu1 {
   height: 48px;
   line-height: 48px;
   position: absolute;
   width: 596px;
}
#indexPanelMenu1_markup ul li i {
   font-size: 20px;
   padding: 0px 3px 0px 0px;
   vertical-align: middle;
   width: 20px;
}
#indexPanelMenu1_markup span {
   display: inline-block;
   height: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#indexMarquee1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #000000 solid;
}
#indexMarquee1 {
   display: block;
   float: left;
   height: 115px;
   vertical-align: top;
   width: 100%;
}
#indexSiteSearch1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-radius: 4px;
   box-sizing: border-box;
   color: #000000;
   font-family: "Comic Sans MS";
   font-size: 19px;
   font-weight: normal;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
.autocomplete {
   background: #FFFFFF;
   border: 1px solid #CCCCCC;
   font-family: "Comic Sans MS";
   font-size: 19px;
   font-weight: normal;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: absolute;
   width: 598px;
   z-index: 999;
}
.autocomplete li {
   margin: 0;
   padding: 0;
}
.autocomplete li.selected {
   background: #008;
   color: #FFFFFF;
}
.ui-dialog {
   padding: 4px 4px 4px 4px;
}
.ui-dialog .ui-dialog-title {
   color: #2779AA;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}
.ui-dialog .ui-dialog-titlebar {
   padding: 4px 4px 4px 4px;
}
.ui-dialog .ui-dialog-content {
   padding: 4px 0px 0px 0px;
}
.ui-dialog .ui-dialog-titlebar-close {
   right: 10px;
}
.ui-dialog .ui-dialog-buttonpane button {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
}
#indexButton1 {
   background-color: #3370B7;
   background-image: none;
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   font-weight: normal;
}
#indexMediaPlayer1 {
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px transparent solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: block;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   max-width: 610px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 100%;
}
#MediaPlayer1 {
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}
#Table1 {
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   border-collapse: collapse;
   border-spacing: 0px;
}
#Table1 td {
   padding: 0px 0px 0px 0px;
}
#Table1 .cell0 {
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   font-size: 0;
   text-align: center;
   vertical-align: top;
}
#wb_Image3 {
   vertical-align: top;
}
#Image3 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 35px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 290px;
}
#wb_Text1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text1 div {
   text-align: center;
}
#InlineFrame {
   border: 1px #BFBFBF solid;
}
#Table2 {
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   border-collapse: collapse;
   border-spacing: 0px;
}
#Table2 td {
   padding: 0px 0px 0px 0px;
}
#Table2 .cell0 {
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   font-size: 0;
   height: 1834px;
   text-align: center;
   vertical-align: top;
   width: 598px;
}
#InlineFrame-Media {
   border: 1px #000000 none;
}
#InlineFrame-Media {
   display: block;
   float: left;
   height: 898px;
   vertical-align: top;
   width: 100%;
}
#InlineFrame_-_Comment_Facebook {
   border: 1px #000000 none;
}
#InlineFrame_-_Comment_Facebook {
   display: block;
   float: left;
   height: 498px;
   vertical-align: top;
   width: 100%;
}
#wb_Image2 {
   vertical-align: top;
}
#Image2 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 50px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 220px;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup {
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup {
   display: block;
}
#PanelMenu1_markup ul {
   list-style-type: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a,
#PanelMenu1_markup li a:hover,
#PanelMenu1_markup li .active {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border-bottom-width: 1px;
   border-radius: 0;
   border-width: 0;
   box-shadow: none;
   padding: 5px 0px 3px 3px;
}
#PanelMenu1_panel {
   display: none;
   position: absolute;

   width: 100%;
   z-index: 9999;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   background-color: #00BFFF;
   background: -moz-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -ms-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -o-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: -webkit-radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   background: radial-gradient(circle,#00BFFF 0%,#8A2BE2 100%);
   border: 1px #2E2E2E solid;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover,
#PanelMenu1_markup li a:hover,
#PanelMenu1_markup li .active {
   background-color: #FF4500;
   background: -moz-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -ms-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -o-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: -webkit-radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   background: radial-gradient(circle,#FF4500 0%,#FE00FE 100%);
   border: 1px #000000 solid;
   color: #FFFFFF;
}
#PanelMenu1_panel {
   background-color: #00BFFF;
   overflow-y: auto;
}
#PanelMenu1 {
   height: 48px;
   line-height: 48px;
   position: absolute;
   width: 596px;
}
#PanelMenu1_markup ul li i {
   font-size: 20px;
   padding: 0px 3px 0px 0px;
   vertical-align: middle;
   width: 20px;
}
#PanelMenu1_markup span {
   display: inline-block;
   height: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Image4 {
   vertical-align: top;
}
#Image4 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 105px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 95px;
}
#SlideShow2 .image {
   border-width: 0;
   display: block;
   float: left;
   height: auto;
   width: 100%;
}
#SlideShow2 li {
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow2 {
   display: inline-block;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   width: 100%;
}
#InlineFrame1 {
   border: 1px #C0C0C0 solid;
}
