body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   padding: 0;
}
#InlineFrame1 {
   border: 1px #000000 solid;
}
#InlineFrame2 {
   border: 1px #000000 solid;
}
