body { background-color:#FFFFFF; background-image:url(Love%20You.jpg); background-attachment:fixed; background-position:center center; background-repeat:no-repeat; background-size:cover; color:#000000; font-family:Arial; font-weight:normal; font-size:19px; line-height:1; margin:0; padding:0; }
# { left:0; top:0; width:100%; height:100%; }
# { border:0px #000000 solid; padding:0px 0px 0px 0px; left:0; top:0; width:100%; height:100%; }
#wb_ { background-color:transparent; background-image:none; border:0px #000000 solid; padding:0; margin:0; text-align:center; }
#wb_ div { text-align:center; white-space:nowrap; }
# { left:0; top:0; width:100%; height:100%; }
#wb_ { background-color:transparent; background-image:none; border:0px #000000 solid; padding:0; margin:0; text-align:center; }
#wb_ div { text-align:center; }
# { border:0px #000000 solid; padding:0px 0px 0px 0px; left:0; top:0; width:100%; height:100%; }
# { left:0; top:0; width:100%; height:100%; }
#Slide_Show .image { border-width:0; left:0; top:0; width:100%; height:100%; }