@charset  utf-8;

/* CSS Document */
* {
}

body {
background: url('bg.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
#bg { 
position: fixed; 
    	height: 100%;
		width: 100%;
		background: #000;
		z-index: 200;
		top: 0;
		left: 0; 
}

.msg {
	margin: 0 auto;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	font-size: 16px;
}

h1 {
	font-family: Arial;
	font-size: 50px;
	font-weight: lighter;
	color: #FFF;
}
#divResult h2{
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: bold;

}

input[type=button] {
	background: #000000;
	color: #fff;
	padding: 15px 20px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}

#co {
	background: #ff3c00;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 25px;
	position: absolute;
	left: 500px;
	top: 300px;
	cursor: pointer;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#co a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

#co:hover {
	background: #111;
}

#form {
	float: left;
	background: #ff0000;
	font-size: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0;
	height: 50px;
	width: 80%;
	color: #fff;
}

#form:focus {
	background: #111;
}

#gui {
	position: absolute;
}

#gui:hover {
	background: #111;
}

#traloi h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
#traloi p {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
#divResult2 p {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
#divResult3 p {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

#dialog-overlay {
	background:#000;
	position:absolute;
	z-index:3000;
	display:none;
}


#dialog-box {
	background:#eee;
	width:328px; 
	position:absolute; 
	z-index:5000; 
	display:none;
}

#dialog-box .dialog-content {

text-align: center;
}

#dialog-box .dialog-content p {
    font-family: Arial;
    font-weight: 550;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:100px;
}
#msb-nt{
	background: #ff0000;
}
#dialog-box .dialog-content a{
	font-family: Arial;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}