body
{
background-attachment: fixed;
background-color: #00BFFF;
background-image: url(Background.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
font-family: Arial;
font-size: 20px;
font-weight: normal;
line-height: 1;
margin: 0;
text-align: center;
}

article#cloud
{
background-attachment: fixed;
background : url(cloud.png) repeat-x;
height: 500px;
background-size: fixed;
margin: 0;
text-align: center;
}

footer
{
background : url(city.png)  repeat-x;
width : 100%;
height : 500px;
position: absolute;
bottom: 0;
}

#duong,
#duongtext p
{
height: 171px;
width: 100%;
position: absolute;
bottom: 0;
}

#duong
{
background: #342a2a;
}

#dapxe
{
position: absolute;
bottom: 0;
width : 100%;
text-align: center;
}

#duongtext p
{
font-family: Arial;
font-size: 20px;
color: #ffffff;
line-height: 1;
text-align: left;
}